
<%- include("partials/header") %>
<h1>
	This is homepage
</h1>


<li>
	<a href="/register">SignUP</a>
</li>
<li>
	<a href="/login">Sign IN</a>
</li>
<li>
	<a href="/logout">Sign Out</a>
</li>
<%- include("partials/footer") %>
